/* Main container */
.contactContainer {
    max-width: 500px;
    width: 70%;
    margin: 60px auto;
    height: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box; 
    font-family: "poppins";
  }
  
  .contactContainer h2 {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
  }
  
  .contactContainer p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  /* Form styles */
  .contactForm {
    display: grid;
    gap: 20px;
  }
  
  .formGroup {
    position: relative;
  }
  
  .inputField, .textareaField {
    width: 80%;
    padding: 15px;
    font-size: 1rem;
    background-color: #fff;
    border: 2px solid #dcdcdc;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  .inputField:focus, .textareaField:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(39, 174, 96, 0.5);
  }
  
  .textareaField {
    resize: vertical;
    min-height: 50px;
  }
  
  .leb {
    position: absolute;
    left: 65px;
    top: 50%;
    transform: translateY(-55%);
    font-size: 1rem;
    color: #7f8c8d;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    pointer-events: none;
    font-family: "poppins";
  }
  
  .inputField:focus + label, .textareaField:focus + label,
  .inputField:not(:placeholder-shown) + label,
  .textareaField:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 0.9rem;
    color: #007bff;
  }
  
  /* Submit button */
  .submitBtn {
    padding: 15px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .submitBtn:hover {
    background-color: #219150;
    transform: translateY(-3px);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .contactContainer {
      padding: 20px;
    }
  
    .contactContainer h2 {
      font-size: 2rem;
    }
  
    .submitBtn {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .contactContainer {
      padding: 15px;
      margin: 30px auto;
    }
  
    .contactContainer h2 {
      font-size: 1.8rem;
    }
  
    .contactContainer p {
      font-size: 1rem;
    }
  
    .submitBtn {
      font-size: 1rem;
      padding: 10px 20px;
    }
  }
  